<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-5">
            <!-- button create new article -->
            <a class="btn btn-success text-white mb-3" href="/add" th:text="#{add-article}"></a>
            <!-- combobox category -->
            <p class="text-danger">Records : [[${totalRecords}]]</p>
            <!-- search -->
            <form class="form-inline d-flex justify-content-between" method="POST" action="/search">
                <select class="custom-select" name="id" th:field="${currentCategory.id}">
                    <option th:if="${currentCategory.id >=0}"
                            value="-1">
                        All Category
                    </option>
                    <option selected th:value="${currentCategory.id}">[[${currentCategory.categoryName}]]</option> <!--current category-->
                    <option th:if="${currentCategory.id != category.id}"
                            th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.categoryName}">
                    </option>
                </select>
                <!--search box-->
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="ui-icon-search"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" th:field="${search.value}">
                    </div>
                </div>
            </form>
            <!-- card container -->
            <div class="container-fluid border shadow mt-4">
                <!-- card -->
                <div class="row border-bottom rounded p-4" th:each="article : ${articles}">
                    <div class="col-1">
                        <img alt="" src="/icons/user.png" style="width: 40px;height: 40px">
                    </div>
                    <div class="col-5">
                        <p class="font-weight-bold" th:text="${article.title}"></p>
                        <p th:text="${article.author}"></p>
                        <p th:text="${article.description}">Description : </p>
                        <p th:text="${article.createDate}"></p>
                        <p>Category : [[${article.category.categoryName}]]</p>
                    </div>
                    <div class="col-3 align-self-center justify-content-center">
                        <img class="border border-light shadow" alt="" th:src="@{/images/} + ${article.thumbnail}" style="height: 120px; width: 130px;">
                    </div>
                    <div class="col-3">
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary text-white" th:href="@{/view/{id}(id=${article.id})}" th:text="#{view-article}"></a>
                            <a class="btn btn-primary text-white" th:href="@{/update/{id}(id=${article.id})}" th:text="#{update-article}"></a>
                            <a class="btn btn-danger text-white" th:href="@{/delete/{id}(id=${article.id})}" th:text="#{delete-article}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <nav aria-label="Page navigation example" class="mt-4" th:if="${page} > 1">
                <ul class="pagination justify-content-center">
                    <!-- next -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/page/{p}/category/{cat}/search/{search}(cat=${currentCategory.id}, p=${currentPage - 1 < 1 ? page : currentPage - 1 }, search=${search.value})}" th:text="#{previous}"></a>
                    </li>
                    <!-- page link -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, __${page}__)}" th:classappend="${currentPage == i} ? active : ''">
                        <a class="page-link" th:href="@{/page/{p}/category/{cat}/search/{search}(cat=${currentCategory.id}, p=${i}, search=${search.value})}" th:text="${i}"></a>
                    </li>
                    <!-- previous -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/page/{p}/category/{cat}/search/{search}(cat=${currentCategory.id}, p=${currentPage + 1 > page ? 1 : currentPage + 1 }, search=${search.value})}" th:text="#{next}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>