<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-5">
            <a class="btn btn-success text-white mb-3" href="/" th:text="#{back-home}"></a>
            <div class="d-flex justify-content-between">
                <!-- form -->
                <form class="w-50 shadow p-5" method="POST" action="/update" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input th:field="${article.title}" type="text" class="form-control" id="title" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input th:field="${article.author}" type="text" class="form-control" id="author" placeholder="Enter Author">
                    </div>
                    <div class="form-group">
                        <label for="des">Description</label>
                        <input th:field="${article.description}" type="text" class="form-control" id="des" placeholder="Enter Description">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select th:field="${article.category.id}" class="form-control" id="category">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}" th:selected="${category.id} == ${article.category.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="file">File</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                        <input th:field="${article.thumbnail}" type="text" hidden>
                    </div>
                    <input th:field="${article.id}" hidden>
                    <input th:field="${article.createDate}" hidden>
                    <button type="submit" class="btn btn-dark" th:text="#{update-article}"></button>
                </form>
                <!-- image -->
                <div class="d-flex justify-content-end w-50 h-50 ml-5">
                    <img class="border border-light shadow w-100 h-100" id="article-image" th:src="@{/images/} + ${article.thumbnail}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>