<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>View Article</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-5">
            <!-- button create new article -->
            <a class="btn btn-success text-white mb-3" href="/" th:text="#{back-home}"></a>

            <!-- card -->
            <div class="card shadow" style="width: 18rem;">
                <img class="card-img-top" th:src="@{/images/} + ${article.thumbnail}" style="width: 100%; height: 260px">
                <div class="card-body">
                    <p class="card-text"><span class="font-weight-bold">Title</span> : [[${article.title}]]</p>
                    <p class="card-text"><span class="font-weight-bold">Author</span>  : [[${article.author}]]</p>
                    <p class="card-text"><span class="font-weight-bold">Category</span>  : [[${article.category.categoryName}]]</p>
                    <p class="card-text" th:text="${article.description}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>