<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="resource-link-css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
    </th:block>

    <th:block th:fragment="navigation-bar">
        <ul class="navbar navbar-dark bg-dark">
            <div class="container">
                <li class="navbar-brand mr-auto" th:text="#{article-management}">

                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-white" href="/" th:text="#{article}"></a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-white" href="/category" th:text="#{category}"></a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-white" href="" th:text="#{about-us}"></a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-white" href="/?lang=en" th:text="#{english}"></a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link text-white" href="/?lang=kh" th:text="#{khmer}"></a>
                </li>
            </div>
        </ul>
    </th:block>

    <th:block th:fragment="resource-link-js">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/script.js}" type="text/javascript"></script>
    </th:block>
</html>