<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-5">
            <a class="btn btn-success text-white mb-3" href="/category" th:text="#{back-home}"></a>
            <!-- form -->
            <form class="w-50" method="POST" action="/category/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="category">Category Name</label>
                    <input th:field="${category.categoryName}" type="text" class="form-control" id="category" placeholder="Enter Category Name">
                </div>

                <button type="submit" class="btn btn-dark" th:text="#{add-category}">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>