<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- -->
        <div class="container p-5" th:object="${data}">
            <!-- button create new category -->
            <a class="btn btn-success text-white mb-3" href="/category/add" th:text="#{add-category}"></a>
            <p class="text-danger">Records : [[${data.totalItem}]]</p>
            <!-- table -->
            <table class="table shadow">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-left">ID</th>
                    <th scope="col" class="text-center">Category Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : *{listData}">
                    <th scope="row" th:text="${category.id}"></th>
                    <td th:text="${category.categoryName}"></td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary text-white" th:href="@{/category/update/{id}(id=${category.id})}" th:text="#{update-category}"></a>
                            <a class="btn btn-danger text-white" th:href="@{/category/delete/{id}(id=${category.id})}" th:text="#{delete-category}"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- pagination -->
            <nav aria-label="Page navigation example" class="mt-4" th:if="${data.totalPage > 1}">
                <ul class="pagination justify-content-center">
                    <!-- previous -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/category/{page}(page=${data.currentPage == 1 ? data.totalPage : data.currentPage - 1})}" th:text="#{previous}"></a>
                    </li>
                    <!-- page link -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, __${data.totalPage}__)}" th:classappend="${data.currentPage == i} ? active : ''">
                        <a class="page-link" th:href="@{/category/{page}(page=${i})}" th:text="${i}"></a>
                    </li>
                    <!-- next -->
                    <li class="page-item">
                        <a class="page-link" th:text="#{next}" th:href="@{/category/{page}(page=${data.currentPage + 1 > data.totalPage ? 1 : data.currentPage + 1})}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>